{% extends 'layout.html.twig' %}

{% block title %}Secretaire{% endblock %}

{% block content %}
    <h1>Plannings Hebdomadaire</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>StartAt</th>
                <th>EndAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for planning_hebdomadaire in planning_hebdomadaires %}
            <tr>
                <td>{{ planning_hebdomadaire.id }}</td>
                <td>{{ planning_hebdomadaire.startAt ? planning_hebdomadaire.startAt|date('Y-m-d') : '' }}</td>
                <td>{{ planning_hebdomadaire.endAt ? planning_hebdomadaire.endAt|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('planning_hebdomadaire_show', {'id': planning_hebdomadaire.id}) }}">show</a>
                    <a href="{{ path('planning_hebdomadaire_edit', {'id': planning_hebdomadaire.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    

{% endblock %}
