{% extends 'layout.html.twig' %}

{% block title %}PlanningHebdomadaire{% endblock %}

{% block content %}
    <div class="container">
        <h1>PlanningHebdomadaire</h1>

        <table class="table">
            <tbody>
                {# <tr>
                    <th>Id</th>
                    <td>{{ planning_hebdomadaire.id }}</td>
                </tr> #}
                <tr>
                    <th>De</th>
                    <td>{{ planning_hebdomadaire.startAt ? planning_hebdomadaire.startAt|date('Y-m-d') : '' }}</td>
                </tr>
                <tr>
                    <th>A</th>
                    <td>{{ planning_hebdomadaire.endAt ? planning_hebdomadaire.endAt|date('Y-m-d') : '' }}</td>
                </tr>
                <tr>
                    <th>Ordre Fabrication</th>
                    <td>{{ planning_hebdomadaire.ordreFabrication }}</td>
                </tr>
                <tr>
                    <th>Ilot</th>
                    <td>{{ planning_hebdomadaire.ilot }}</td>
                </tr>
            </tbody>
        </table>

        {% for productionJournalier in planning_hebdomadaire.productionJournalier %}
            <div>
                <strong>Jour: </strong>{{ productionJournalier.dateProduction.dateDuJour | date('d-m-Y') }}
            </div>
            <div>
                <strong>Quantite 1ere choix: </strong>{{ productionJournalier.quantitePremiereChoix }}
                <strong>Quantite 2eme choix: </strong>{{ productionJournalier.quantiteDeuxiemeChoix }}
            </div>
            <hr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
    </div>

    {# <a href="{{ path('planning_hebdomadaire_index') }}">back to list</a> #}

    {# <a href="{{ path('planning_hebdomadaire_edit', {'id': planning_hebdomadaire.id}) }}">edit</a>

    {{ include('planning_hebdomadaire/_delete_form.html.twig') }} #}

    
{% endblock %}
